

<div id="programms"></div>
<h1>Программы</h1>
<table>
  <thead>
    <tr>
      <th> </th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% if current_user.try(:admin?) %>
 
    <% end %>
    <% @programms.each do |programm| %>
      <tr data-item_id="<%= programm.id %>">
        <td><%= programm.name %></td>
       
        <td><%= link_to 'Редактировать', edit_programm_path(programm) %></td>
        <td><span class="deleteAction">Удалить</span></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="fontBlock basetext">
<br>
<p>
  <%= link_to 'Новая публикация', new_programm_path %>
</p>

<h1>отношения с супругом</h1>

<p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p><p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h2>отношения с супругом</h2>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h3>отношения с супругом</h3>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>          
                    <h4>отношения с супругом</h4>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h5>отношения с супругом</h5>

          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h1>отношения с супругом</h1>

<p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p><p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h2>отношения с супругом</h2>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h3>отношения с супругом</h3>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h4>отношения с супругом</h4>

          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h1>отношения с супругом</h1>

<p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p><p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h2>отношения с супругом</h2>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h3>отношения с супругом</h3>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h4>отношения с супругом</h4>

          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          
</div>

<h1>отношения с супругом</h1>

<p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p><p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h2>отношения с супругом</h2>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h3>отношения с супругом</h3>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>          
                    <h4>отношения с супругом</h4>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h5>отношения с супругом</h5>

          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h1>отношения с супругом</h1>

<p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p><p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h2>отношения с супругом</h2>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h3>отношения с супругом</h3>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h4>отношения с супругом</h4>

          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h1>отношения с супругом</h1>

<p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p><p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          <h2>отношения с супругом</h2>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h3>отношения с супругом</h3>
          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
                    <h4>отношения с супругом</h4>

          <p>
            Как наладить отношения с супругом, родителями, детьми? Как избавиться от чувства вины, ревности, страха, тревоги, обиды? Как обрести гармонию в семье?
Эти и многие другие вопросы волнуют людей, обращающихся к семейному психологу.
Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы.
Вопросы, с которыми Вы можете обратиться к семейному психологу:
          </p>
          
</div>