 
/*
Copyright (c) 2003-2011, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.html or http://ckeditor.com/license
*/
//определим путь до стилей
var ckestyle = $('.ckestyle').html();

CKEDITOR.editorConfig = function( config ){
  // Define changes to default configuration here. For example:
  // config.language = 'fr';
  // config.uiColor = '#AADC6E';

  /* Filebrowser routes */
  // The location of an external file browser, that should be launched when "Browse Server" button is pressed.
  config.filebrowserBrowseUrl = "/ckeditor/attachment_files";

  // The location of an external file browser, that should be launched when "Browse Server" button is pressed in the Flash dialog.
  config.filebrowserFlashBrowseUrl = "/ckeditor/attachment_files";

  // The location of a script that handles file uploads in the Flash dialog.
  config.filebrowserFlashUploadUrl = "/ckeditor/attachment_files";

  // The location of an external file browser, that should be launched when "Browse Server" button is pressed in the Link tab of Image dialog.
  config.filebrowserImageBrowseLinkUrl = "/ckeditor/pictures";

  // The location of an external file browser, that should be launched when "Browse Server" button is pressed in the Image dialog.
  config.filebrowserImageBrowseUrl = "/ckeditor/pictures";

  // The location of a script that handles file uploads in the Image dialog.
  config.filebrowserImageUploadUrl = "/ckeditor/pictures?";

  // The location of a script that handles file uploads.
  config.filebrowserUploadUrl = "/ckeditor/attachment_files";
  config.protectedSource.push(/<(style)[^>]*>.*<\/style>/ig);
  // config.protectedSource.push( /<span[\s\S]*?\>/g ); //allows beginning <span> tag
  // config.protectedSource.push( /<\/span[\s\S]*?\>/g ); //allows ending </span> tag
  // config.pasteFromWordRemoveFontStyles = true;
  //config.allowedContent = true;
config.allowedContent =true;
    // config.allowedContent = ' em ol ul li strong h1 h2 h3 h4 h5 div span{background-color}; p{margin-left, text-align};  table tr td th[!dir,id,name]; a[!href,id,name]; img(left,right)[!src,alt,width,height];';
    // config.indentClasses = ["ul-grey", "ul-red", "text-red", "ul-content-red", "circle", "style-none", "decimal", "paragraph-portfolio-top", "ul-portfolio-top", "url-portfolio-top", "text-grey" ];

  config.height = '80vh';

 config.extraPlugins = 'image2';
 config.extraPlugins = 'widget';
 config.extraPlugins = 'lineutils';
 config.extraPlugins = 'widgetselection';
   config.extraPlugins = 'dragresize';
   // config.extraPlugins = 'pastefromword';
  // // config.pasteFromWordPromptCleanup = true;
   //config.pasteFromWordRemoveStyles = true;
  // //var someAssetPath = "<%%= asset_pack_path 'application.css' %>"; 
  // //зададим путь
  // config.pasteFromWordNumberedHeadingToList = true;
    //config.pasteFromWordRemoveFontStyles = true;
    //config.pasteFromWordCleanupFile = true;
    //config.pasteFromWordPromptCleanup = true;
  config.contentsCss = ckestyle;
  config.format_tags = 'p;h5;h4;h3;h2;h1;pre;code';
  config.format_code={element:"code"};
  config.toolbar_mini = [
    ['Undo', 'Redo', 'Source'  ],
    ["Bold", "Italic", "Underline",  "Strike", "-", ],
    [ 'NumberedList','BulletedList','-','Outdent','Indent','-','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-'],
    ['Image'],
    ['Format','Font'],
    ['TextColor','BGColor']  
  ];
  config.toolbar_micro = [
    ['Undo', 'Redo' ],
  ];
  config.toolbar = "mini";
config.font_names = 'RobotoCon; RobotoA';
};
 