<div class="testfont"><p>Психологический центр «Импульс»</p></div>
<!--  <div class="testimage"></div>
<%= image_tag(asset_pack_path('images/sal.jpg')) %> -->
<div class="cont">
	<p>Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины  их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы. </p>
</div>


