 <div class="webpacker-test">first font Тест первого шрифта 12345</div>
  <div class="testfont">second font Тест второго шрифта 12345</div>
<!--  <div class="testimage"></div>
<%= image_tag(asset_pack_path('images/sal.jpg')) %> -->