 <div class="webpacker-test">Deploy тест</div>
  <div class="testfont">Психологический центр «Импульс»</div>
<!--  <div class="testimage"></div>
<%= image_tag(asset_pack_path('images/sal.jpg')) %> -->