<div class="testfont"><p>Психологический центр «Импульс»</p></div>
<div class="cont">
	<p>Семейное консультирование это совместная работа психолога и членов семьи, которая нацелена на осознание того, каковы истинные причины  их эмоциональных трудностей, поведения и жизненной ситуации, а также поиск путей решения проблемы. </p>
</div>
<div id="app"></div>
<!-- 
<h1>Семейное консультирование</h1>
<h2>Семейное консультирование</h2>
<h3>Семейное консультирование</h3>
<h4>Семейное консультирование</h4>
<h5>Семейное консультирование</h5>
 -->