 

.btn{
 display: inline-block;
 border:1px solid #81B3C9;
 color: #133B70;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
  
 width: auto;
 height: auto;
 font-size: 15px;
 padding: 0.3em 2em;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 text-shadow: 0 1px 0 #FFFFFF;
 background-image: linear-gradient(to top, #9CEB7F, #F3FC9F);
 background-color: #E0FCC0;
}
.btn:hover, .btn:active{
  cursor: pointer;
 border:1px solid #4F919C;
 color: #000;
 box-shadow: inset 0px 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -moz-box-shadow: inset 0px 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -webkit-box-shadow: inset 0px 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 background-color: #B7E693;
}
.largetext {
  adjust-font-size: fs b;
  font-family: "RobotoA";
}
p:first-of-type {
  /*margin-top: spacing(0.5);*/
} 
.smalltext {
  font-weight:100; 
 font-size: 14px;
  

}
.tinytext {
  adjust-font-size: fs tiny;
}
.basetext {
   adjust-font-size: fs b;
}
.mediumtext {
   adjust-font-size: fs m;
}
.largetext {
   adjust-font-size: fs l;
}
.form-inputs {
  font-size: 1em;
  line-height: 1.1em;
} 
p { 
  display: block;
   
  /*margin-top: spacing(1);*/
  

}
img {
  margin: 1.2em 1.2em 1.2em 1.2em;
 
/*   margin-right: 4vw;
   margin-left: 4vw;
   margin-top: 0.5em;
   margin-bottom: 0.5em;*/
}

 @media (--only-small-screen) {
img {
   height: 50%;
   width: 50%;
/*   margin-right: 4vw;
   margin-left: 4vw;
   margin-top: 0.5em;
   margin-bottom: 0.5em;*/
}
  }


em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
a {
}
ul,
ol { 
  padding-left: 2em;
  padding-right: 1em;
 
 

  /*list-style-position: inside; */
}
ul {   
 list-style: none;
}


ol {
  list-style: decimal inside;
}
ul a, ol a {
  text-decoration: none;
}
li {

  display: list-item;
	padding-left: 0em;
	padding-right: 0.5em;
	margin-bottom: 0.3em;
}

.list6b {
    padding:0;
    list-style: none;
}
.list6b li{
    padding:6px;
} 
td { 
  padding: 0.5em; 
}
tbody tr:nth-child(even) {
  background: $eggshell;
 }
thead tr {
  background: $bone;
} 