
h1, h2, h3, h4, h5 {
  color: #555;
  font-family: "RobotoA";
  padding-right: 0.5em;
}
h1 {
 	adjust-font-size: fs xxxlarge;
  margin-top: spacing(1);
  margin-bottom: spacing(0.8);
  line-height: 1.0em;
}
h2 {
 /* @extend %strong;*/
  adjust-font-size: fs xxlarge;
  margin-top: spacing(0.4);
  margin-bottom: spacing(0.4);
 
  line-height: 1.12em;
}
h3 {
  adjust-font-size: fs xlarge;
  margin-top: spacing(0.8);
  margin-bottom: spacing(0.4);
 
  line-height: 1.1em;
}
h4 {
  adjust-font-size: fs medium;
  margin-top: spacing(0.5);
  margin-bottom: spacing(0.3);
 
  line-height: 1.1em;
}
h5 {
  adjust-font-size: fs base;
  margin-top: spacing(0.5);
  margin-bottom: spacing(0.2);
 
}
p:first-of-type {
  /*margin-top: spacing(0.5);*/
} 
.smalltext {
  adjust-font-size: fs small;
}
.tinytext {
  adjust-font-size: fs tiny;
}
.basetext {
   adjust-font-size: fs b;
}
 
p { 
  display: block;
   
  /*margin-top: spacing(1);*/
  margin-bottom: spacing(1);

}
img {
  padding: 0em 1.5em 0.9em 1.5em;
/*   margin-right: 4vw;
   margin-left: 4vw;
   margin-top: 0.5em;
   margin-bottom: 0.5em;*/
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
a {
}
ul,
ol { 
  padding-left: 3.5em;
  padding-right: 1em;
  margin-bottom: 1em;
  margin-top: 0.6em;
  adjust-font-size: fs b;
  /*list-style-position: inside; */
}
ul { 
  list-style: disc inside;
}
ol {
  list-style: decimal inside;
}
ul a, ol a {
  text-decoration: none;
}
li {
  display: list-item;
	padding-left: 0em;
	padding-right: 0.5em;
	margin-bottom: 0em;
}

td {
  padding: 0.5em;
 
}
tbody tr:nth-child(even) {
  background: $eggshell;
 }
thead tr {
  background: $bone;
} 