.webpacker-test {
	lost-center: 600px;
	background-color: #dad;
	color: blue;
}
.testimage {
	background: resolve('sal.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}