 
@import "variables"; 
@import "typography";  
body {
	font-family: "RobotoCon";
	color: #444;
}
.testfont {
	padding: 0.2em;
	text-indent: 0em;
	text-align: center;
  font-weight: 400;
 	font-style: normal;
  lost-center: 400px;
  background-color: $color-blue;
 
}
.cont {
	adjust-font-size: fs small;
	font-weight: 300;
	font-style: italic;
	lost-center: 350px;
}
/*.testimage {
	background: resolve('sal.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	width: 100px;
	height: 100px;
}
 
*/