<p>Здравствуйте <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Уведомляем вас о том, что ваша электронная почта изменяется на <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Уведомляем вас о том, что ваша электронная почта изменяется на <%= @resource.email %>.</p>
<% end %>
