<p>Здравствуйте <%= @resource.email %>!</p>

<p>Был сделан запрос на получение ссылки для сброса пароля на сайте impuls-psy.ru</p>

<p><%= link_to 'Пройти для сброса', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали запрос, проигнорируйте письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете к ссылке выше и не создадите новую.</p>
